<p id="notice"><%= notice %></p>

<h1>Company Attachments</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_attachments.each do |company_attachment| %>
      <tr>
        <td><%= company_attachment.company_id %></td>
        <td><%= company_attachment.image %></td>
        <td><%= link_to 'Show', company_attachment %></td>
        <td><%= link_to 'Edit', edit_company_attachment_path(company_attachment) %></td>
        <td><%= link_to 'Destroy', company_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Attachment', new_company_attachment_path %>
