<section class="gl-about-page-header-wrapper" style="padding: 120px 0;"><div class="container"><div class="row"><h1 class="gl-page-title">Home</h1></div></div></section>
<section class="gl-page-content-section" style="background-color: rgb(233, 233, 233);">
<div class="container">
<div class="row">
<%= form_for(company,id: "gl-bz-directory-form") do |f| %>
<fieldset>

  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-md-6" id="form_s">
  <p>Sirketin adi</p>
    <%= f.text_field :name , class: "gl-input" ,placeholder: "Sirketin adi"%>
  </div>
<div class="field col-md-6" id="form_s">
    <p>1kv ucun orta qiymet</p>

    <%= f.text_area :price , class: "gl-input" ,placeholder: "1kv qiymeti"%>
  </div>

  <div class="field col-md-12" id="form_s">
    <p>Sirketin Haqqinda</p>

    <%= f.text_area :about , class: "gl-input" ,placeholder: "Haqqinda"%>
  </div>
  
  <div class="field col-md-6" id="photo">
  <p >Slide</p>
    <%= f.file_field :slide%>
  </div>

  <div class="field col-md-6" id="photo">
    <p>Logo</p>

    <%= f.file_field :logo %>
  </div>

 <div class="file col-md-12" id="photo">
   <p>Photo</p>

    <%= f.file_field :image %>
  </div>



  <div class="field col-md-6" id="form_s" style="margin-top:10px;">
    <p>Binanin unvani</p>

    <%= f.text_field :adress , class: "gl-input" ,placeholder: "Unvan"%>
  </div>
    <div class="field col-md-6"  id="form_s" style="margin-top:10px;">

 <p>Kategoriyani secin</p>
<style>
.select2-container--default{
  height: 48px;
padding: 15px;
background: #fff;
}
</style>
<div class="gl-jobs-category gl-category-dropdown">

    <%= f.collection_select(:region_id, Region.all, :id, :name, {:include_blank => "Please select"},{class:"gl-category-dropdown-selection select2-hidden-accessible"}) %>


<span style="width: 118px;" dir="ltr"  class="select2 select2-container select2-container--tt" style="">

<span class="dropdown-wrapper" aria-hidden="true"></span></span></div>
</div>
  <div class="field col-md-6" id="form_s">
    <p>Telefon nomresi</p>

    <%= f.text_field :phone , class: "gl-input" ,placeholder: "Telefon"%>
  </div>

  <div class="field col-md-6" id="form_s">
    <p>Facebook</p>

    <%= f.text_field :facebook , class: "gl-input" ,placeholder: "Facebook"%>
  </div>

  <div class="field col-md-6" id="form_s">
    <p>Youtube</p>

    <%= f.text_field :youtube , class: "gl-input" ,placeholder: "Youtube"%>
  </div>

  <div class="field col-md-6" id="form_s">
    <p>Web sayt</p>

    <%= f.text_field :web_site , class: "gl-input" ,placeholder: "Web Site"%>
  </div>

  <div class="field col-md-6" id="form_s">
    <p>Mertebelerin sayi</p>

    <%= f.number_field :floor , class: "gl-input" ,placeholder: "Mertebelerin sayi"%>
  </div>

  <div class="field col-md-6" id="form_s">
    <p>Bloklarin sayi</p>

    <%= f.number_field :part , class: "gl-input" ,placeholder: "Bloklarin sayi"%>
  </div>
</fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>

</section>