<main style="opacity: 1;">
      <!--================================INNER START 1================================-->
      <div class="inner-start inner-start-1">
        <div class="inner-start-keywords-bg">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12 text-md-left text-xs-center">
                <div class="inner-start-keywords margin-top-50">
                  <h5 class="rel-white-clr ls-1">PROPERTY SUBMIT</h5>
                </div>
              </div><!-- ../inner-start-keywords-->
            </div>
          </div>
        </div>
      </div>
      <!--===============================../INNER START 1==============================-->
      <!--================================BLOG FULLWIDTH================================-->
      <div class="padding-top-60 padding-bottom-100 p-m-b-40">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-xs-12">
                <%= form_for(company,class: "row form-setting") do |f| %>     <div class="col-xs-12">
                  <div class="form-submit-header secondary-bg-color">
                    <h6>SUBMIT PROPERTY DETAILS</h6>
                  </div>
                </div>
              

                <div class="col-xs-12">
                  <div class="form-group">
                      <%= f.text_field :name , class: "form-control" ,placeholder: "Property Title..."%>

                 </div>
                </div>
                <div class="col-xs-12">
                  <div class="form-group">
                   <%= f.text_area :about , class: "form-control" ,placeholder: "Description here..."%> </div>
                </div>
                <div class="col-md-6 col-xs-12">
                <style>
                .bootstrap-select{
                height: 46px;
background: #fff;
}
                </style>
                  <div class="form-group">
                   <%= f.collection_select(:region_id, Region.all, :id, :name, {:include_blank => "Please select"},{class:"btn-group bootstrap-select"}) %>

                  </div>
                </div>
                
                <div class="col-md-6 col-xs-12 text-lg-right">
                  <div class="form-group">
                                        <%= f.text_field :adress , class: "form-control" ,placeholder: "Adress..."%>

                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                                        <%= f.text_field :floor , class: "form-control" ,placeholder: "Mertebe sayti..."%>

                   </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                                        <%= f.text_field :part , class: "form-control" ,placeholder: "Blok sayi..."%>

                     </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                      <%= f.text_field :phone , class: "form-control" ,placeholder: "Phone..."%>
</div>
                </div>     <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                      <%= f.text_field :price , class: "form-control" ,placeholder: "1 kv qiymeti..."%>
</div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                    <%= f.text_field :facebook , class: "form-control" ,placeholder: "Facebook..."%>
</div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                          <%= f.text_field :youtube , class: "form-control" ,placeholder: "Youtube..."%>
</div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                           <%= f.text_field :web_site , class: "form-control" ,placeholder: "Web site..."%>
</div>
                </div>
             
                <div class="col-xs-12">
                  <div class="form-submit-header secondary-bg-color m-b-0">
                    <h6>PROPERTY Image</h6>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="features-checkbox">
                         <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                           <p >Slide</p>
    <%= f.file_field :slide%>

</div>
                </div>
                             <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                           <p >Logo</p>
    <%= f.file_field :logo%>

</div>
                </div>
                          <div class="col-md-6 col-xs-12">
                  <div class="form-group">
                           <p >Slide</p>
    <%= f.file_field :image%>

</div>
                </div>
                   
                  </div>
                </div>
                
                  
               
              
                
             
                <div class="col-xs-12">
                  <div class="form-group">

    <%= f.submit 'Send',:class => 'loadermore-btn rel-btn-radius btn-primary-ef-5 pull-lg-left' %>

                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-3 col-xs-12">
              <div class="sidebar">
                <div class="s-widget-box widget-userbox">
                  <div class="s-widget-aboutimg">
                    <img src="assets/img/users/user2.jpg" alt="widget-logo" class="img-fluid">
                  </div>
                  <div class="s-widget-text text-xs-center">
                    <strong>MICHEAL DOE</strong>
                    <p>Selling Agent</p>
                    <p>Morbi accumsan ipsum velit nam nect tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat dolor consequat auctor eu in elit.</p>
                    <span class="font-pacifico">Micheal Doe</span>
                  </div><!--../s-widget-content-->
                  <div class="sw-userinfo text-xs-center">
                    <ul class="rel-ls-none p-info">
            
                 
              
                    </ul>
                  </div>
                </div><!--..s-widget-box-->
                <div class="s-widget-box widget-categoires">
                  <div class="s-widget-tit text-xs-center">
                    <h6>CATEGORIES</h6>
                  </div><!--../s-widget-tit-->
                  <div class="s-widget-content">
                    <ul class="rel-ls-none">
                      <li>
                        <a href="#">Apartments</a>
                      </li>
                      <li>
                        <a href="#">Commercial Properties</a>
                      </li>
                      <li>
                        <a href="#">For Rent</a>
                      </li>
                      <li>
                        <a href="#">For Sale</a>
                      </li>
                      <li>
                        <a href="#">Residential Properties</a>
                      </li>
                    </ul>
                  </div><!--../s-widget-content-->
                </div><!--..s-widget-box-->
               
                <div class="s-widget-box widget-banner">
                  <img src="assets/img/banners/wt-banner.jpg" alt="img" class="img-fluid">
                </div><!--..s-widget-box-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--================================../BLOG FULLWIDTH================================-->
    </main>
<% end %>
