<!-- PAGE HEADER -->
<section class="gl-page-header-wrapper" style="background-image:url('<%= @company.slide %>')">
  <div class="container">
    <div class="row">
      <h1><%= @company.name %> <span class="gl-item-status-label gl-sale-label">Sale</span></h1>
      <p><i class="ion-ios-location-outline"></i><%= @company.adress %></p>

      <div class="gl-page-head-btn-wrapper">
        <a data-remodal-target="modal-share" class="gl-btn gl-icon-btn">Share</a>
      </div>
    </div>
  </div>
</section>
<!-- PAGE HEADER -->

<!-- PAGE CONTETNT -->
<section class="gl-page-content-section" style="padding:0">
  <div class="container">
    <div class="row">
      <!-- PAGE CONTENT DETAILS -->
        <!-- GALLERY -->
        <div class="gl-profile-gallerys">
          <ul class="gl-gallerys">
          <div class="owl-carousel" id="owl-carousel">
                    <% @image.each do |image| %>
              <li style="width:100%;">
                <a href="<%= image.image %>" class="gl-lightbox-img">
                    <picture>
                        <source media="(min-width: 768px)" srcset=<%= image.image %>>
                        <img alt="Category Image" srcset=<%= image.image %> width="100%">
                    </picture>
                </a>
              </li>
              <% end %>
              </div>
            </ul>
        </div>
        <!-- END -->
      <div class="gl-page-content col-md-8 col-sm-8 col-xs-12">

        <!-- ABOUT COMPANY -->
        <div class="gl-page-contents-wrapper gl-about-company appear fadeIn" data-wow-duration=".5s" data-wow-delay=".5s" style="margin-top:0">
          <h3 class="gl-content-title">Description</h3>

          <p><%= @company.about %></p>
        </div>
        <!-- END -->

    

        <!-- Floor Plan -->
        <div class="gl-page-contents-wrapper gl-floor-plan-wrapper appear fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
          <h3 class="gl-content-title">Floor plan</h3>

          <div class="gl-floor-plan-accordion">
            <div class="panel-group" id="gl-floorplan" role="tablist" aria-multiselectable="true">
              <!-- FLoor plan item -->
                    <% @room.each do |room| %>
                    <% @posts = Post.where(company_id: @company.id,room: room.id).all %>
                      <% @posts.empty? %>

              <div class="panel panel-default gl-floorplan-item">
                <!-- header -->

                <div class="gl-floorplan-item-wrapper panel-heading" role="tab" id="gl-floorplan-<%= room.id %>">
                  <a role="button" data-toggle="collapse" data-parent="#gl-floorplan" href="#gl-floorplan-<%= room.id %>-Details" aria-expanded="true" aria-controls="gl-floorplan-<%= room.id %>-Details">
                    <h3><%= room.name %></h3>
                    <span class="gl-toggle-symbol">
                      <i class="ion-ios-plus-empty"></i>
                    </span>
                  </a>
                </div>
                <!-- END -->
                   
                <!-- Details -->
                <div id="gl-floorplan-<%= room.id %>-Details" class="panel-collapse collapse gl-floorplan-details" role="tabpanel" aria-labelledby="gl-floorplanOne">
                                      <% @posts.each do |post| %>

                  <div class="panel-body" style="border-top:solid #f2f2f2">
                  <div class="col-md-3" >
                  <h3><b><%= post.area %></b> m²</h3>
                  <%= post.about %>
                  </div>
                  <div class="col-md-9" style="border-left:solid #f2f2f2">
                    <img src="<%= post.image %>" alt="<%= post.image %>" class="gl-lazy" data-pagespeed-url-hash="3242599267" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                  </div>
                  </div>
                  <% end %>
                </div>
                              

                <!-- END -->
              </div>
          
                  <% end %>
              <!-- End -->

              <!-- FLoor plan item -->
         
              <!-- End -->

              <!-- FLoor plan item -->
      
              <!-- End -->
            </div>

          </div>
        </div>
        <!-- END -->

      

    
      </div>
      <!-- PAGE CONTENT DETAILS END -->

      <!-- SIDEBAR -->
      <div class="gl-sidebar gl-page-sidebar col-md-4 col-sm-4 col-xs-12">
        <!-- OVERVIEW WIDGET -->
        <div class="gl-sidebar-widget gl-overview-widget">
          <div class="gl-overview-wrapper">
          <h3>  <%= @company.name %>  </h3>
  <img src="<%= @company.logo %>">
  <ul>
  <li><b>Tel.:</b><%= @company.phone %> </li>
  <li><b>Mertebe sayi: </b><%= @company.floor %> </li>
  <li><b>Blok sayi: </b><%= @company.part %> </li>
  </ul>
          </div>

          <div class="gl-overview-btns-wrapper">
            <p style="text-align: center;
font-weight: 400;
padding: 20px;
font-size: 21px;
color: #CC5017;"><%= @company.price %> AZN</p>
            
          </div>
        </div>
        <!-- END -->

        <!-- RELATED PROPERTIES WIDGET -->
        <div class="gl-sidebar-widget gl-related-widget">
          <h3 class="gl-sidebar-title">Related Properties</h3>

          <!-- FEATURED ITEMS -->
          <div class="gl-featured-items">
            <div class="gl-feat-items-img-wrapper">
              <picture>
                    <source media="(min-width: 768px)" srcset=images/real-estate-img-3-lg.jpg>
                    <img alt="Category Image" srcset=images/real-estate-img-3.jpg>
                </picture>

              <span class="gl-price-tag">$3,000</span>
            </div>

            <div class="gl-feat-item-details">
              <span class="gl-item-status-label gl-sold-label">Sold</span>

              <h3>
                <a href="#">Lake Cafe</a>
              </h3>
              <div class="gl-item-location">
                <i class="ion-ios-location-outline"></i>
                <span>Road 3, West Portland, USA</span>
              </div>
            </div>

            <div class="gl-feat-item-metas">
                <ul class="gl-feature-info">
                  <li>Beds<span>3</span>
                  </li>
                  <li>Baths<span>2</span>
                  </li>
                  <li>Area<span>900 sqft</span>
                  </li>
                </ul>

                <ul class="gl-wishlist-compare-wrapper">
                    <li>
                        <a href="#" class="gl-add-wishlist">
                            <i class="fa fa-heart-o"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="gl-add-compare">
                            <div class="gl-compare-btn">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
          </div>
          <!-- END -->

          <!-- FEATURED ITEMS -->
          <div class="gl-featured-items">
            <div class="gl-feat-items-img-wrapper">
                <picture>
                    <source media="(min-width: 768px)" srcset=images/real-estate-img-5-lg.jpg>
                    <img alt="Category Image" srcset=images/real-estate-img-5.jpg>
                </picture>

              <span class="gl-price-tag">$300</span>
            </div>

            <div class="gl-feat-item-details">
              <span class="gl-item-status-label gl-rent-label">Rent</span>

              <h3>
                <a href="#">Lake Cafe</a>
              </h3>
              <div class="gl-item-location">
                <i class="ion-ios-location-outline"></i>
                <span>Road 3, West Portland, USA</span>
              </div>
            </div>

            <div class="gl-feat-item-metas">
                <ul class="gl-feature-info">
                  <li>Beds<span>3</span>
                  </li>
                  <li>Baths<span>2</span>
                  </li>
                  <li>Area<span>900 sqft</span>
                  </li>
                </ul>

                <ul class="gl-wishlist-compare-wrapper">
                    <li>
                        <a href="#" class="gl-add-wishlist">
                            <i class="fa fa-heart-o"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="gl-add-compare">
                            <div class="gl-compare-btn">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
          </div>
          <!-- END -->
        </div>
        <!-- END -->
      </div>
      <!-- SIDEBAR END -->
    </div>
  </div>
</section>
<!-- PAGE CONTETNT END -->
